# Version 2022-08-12

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
*.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Mac
.DS_Store
.Thumbs.db
Thumbs.db

# Directories
docs/
data/
development/
macros/
output/
sasdata/
libs/

# Exclude .Rmd output
*.html
**/figure-html/

# Exclude Text
*.txt
*.Txt
*.TXT

# Exclude Excel
*.xlsx
*.xls

# R data
*.rds
*.RDS
*.Rds
*.rda
*.RDA
*.Rda

# csv data
*.csv
*.CSV
*.Csv

# sas data
*.sas7bdat
*.sas7bcat

# SPSS data
*.sav
*.SAV
*.Sav

# SPSS output
*.spv
*.SPV
*.Spv

# STATA data
*.dta
*.DTA
*.Dta

# STATA log files
*.log
*.LOG
*.Log
*.smcl
*.SMCL
*.Smcl

# data commonly used in Python
*.json
*.pkl
*.h5
*.msgpack
*.parquet
*.feather

# VSC
www/.vscode/

# Bookdown book
_book/
_bookdown_files/

# Binary - Powerpoint and iThoughtsX
*.ppt
*.pptx
*.itmz

# R packages
*.tar

# Archives
*.zip
*.Zip
*.ZIP

# Quarto
/.quarto/
/_site/
.quarto/
_site/